@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'DM Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --heading-color: #0a2240;
  --description-color: #5e5e5e;
}

/* Custom heading and description styles */
.heading-color {
  color: var(--heading-color);
}

.description-color {
  color: var(--description-color);
}
